@media screen and (max-width: 800px)
  .header
    width: 100%
    position: absolute
    left: 3%
    top: 16px

  .header__filter-wrapper
    height: 28px

  .header__input
    width: 64%

  .header__select
    width: 25%

  .header__sort-arrow
    width: 5%

  .main
    padding-top: 60px

  .people-list__planet
    font-size: 0.9rem

  .people-list__name
    font-size: 1.1rem
    margin-right: 6px

  .load-screen__img--movein
    transform: translateX(0)

  .load-screen__balloon
    left: 55%
    top: 30%
