div.header__filter-wrapper
   input.header__input(type="text")
   select.header__select
     option(value='id' selected="selected") Id
     option(value='planet') Planet
     option(value='name') Name
