div.load-screen__img-wrapper
  img.load-screen__img(src="img/load-img.gif")
div.load-screen__balloon.load-screen__balloon--hide
  span.load-screen__balloon-text.load-screen__balloon-text-1 .
  span.load-screen__balloon-text.load-screen__balloon-text-2 .
  span.load-screen__balloon-text.load-screen__balloon-text-3 .
  <svg class="load-screen__balloon-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000"><path class="load-screen__balloon-path" style="stroke-width:14px" d="M 37.925349,363.91802 79.690627,268.99695 C 53.293529,248.38552 6.2849992,215.84115 7.0081992,155.09165 6.6194792,63.481731 131.46739,5.9472337 228.85231,7.0147867 358.30657,6.8339857 456.30127,74.453954 456.12047,154.54925 455.93967,263.03049 304.42756,333.54328 149.66102,296.11726 Z"/></svg>
