div.modal-people__card
  div.modal-people__close-btn
  div.modal-people__side-img
  div.modal-people__card-info
    div.modal-people__card-title
    div.modal-people__card-subtitle
    ul.modal-people__info-grid
      li.modal-people__info-item
      li.modal-people__info-item
      li.modal-people__info-item
      li.modal-people__info-item
      li.modal-people__info-item
