div.modal__card
  div.modal__close-btn
  div.modal__side-img
  div.modal__card-info
    div.modal__card-subject
      p.modal__card-title
      span.modal__card-subtitle
      span.modal__card-subtitle.modal__card-planet
    ul.modal__info-grid
      li.modal__info-item
        span.modal__info-item-key
        span
