ul.people-list__grid
  li.people-list__item
    div.people-list__item-wrapper
      h2.people-list__name
      span.people-list__planet
    div.people-list__item-wrapper
      h2.people-list__name
      span.people-list__planet
