.people-list
  text-align: center
  margin: 0 auto
  padding: 1%  3%
  position: relative

.people-list__item
  margin: 3px 0
  list-style: none
  overflow: hidden

.people-list__name
  letter-spacing: -0.02rem
  text-transform: uppercase
  font-weight: bold
  position: relative
  margin-right: 8px
  cursor: pointer
  color: white
  display: inline-block

.people-list__item-wrapper
  padding: 4px 6px
  background-color: #222222
  display: inline-block
  &:first-child
    margin-right: 3px

.people-list__planet
  text-transform: capitalize
  cursor: pointer
  color: #FFE919
  font-size: 1.4rem
  font-weight: bold


