.modal
  z-index: 1000
  overflow: hidden
  opacity: 0
  pointer-events: none
  color: white
  position: fixed
  height: 100vh
  width: 100vw
  background-color: rgba(245, 245, 245, 0.6)
  transition: opacity 0.3s ease-in-out

.modal__close-btn
  cursor: pointer
  z-index: 100
  position: absolute
  width: 30px
  height: 30px
  left: 94%
  top: 3%
  background:
    image: url(../img/close.svg)
    repeat: no-repeat
    size: cover

.modal__card
  transition: transform 0.2s ease-in-out
  transform: translateY(5%)
  z-index: 50
  position: absolute
  margin: auto auto
  top: 0
  bottom: 0
  left: 0
  right: 0
  width: 80%
  max-width: 800px
  height: 70%
  box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.8);

.modal-show
  opacity: 1
  pointer-events: auto
  .modal__card
    transform: translateY(0)

.modal__side-img
  position: relative
  z-index: 20
  float: left
  width: 30%
  height: 100%
  background:
    position: center
    color: #222222
    size: cover
    repeat: no-repeat

.modal__side-img--people
  background-image: url(../img/people-bg.jpg)

.modal__side-img--planet
  background-image: url(../img/planet-bg.jpg)

.modal__card-info
  position: relative
  z-index: 10
  float: right
  padding: 5% 5%
  width: 70%
  height: 100%
  background:
    color: #222222

.modal__card-subject
  position: relative
  height: 30%
  &:after
    position: absolute
    content: ""
    width: 70%
    height: 1px
    bottom: 20%
    left: 0
    background-color: white

.modal__card-title
  margin-bottom: 2px
  font-weight: bold
  font-size: 2rem

.modal__card-subtitle
  font-weight: bold
  font-size: 1.3rem

.modal__card-planet
  cursor: pointer
  margin-left: 6px
  color: #FFE919
  &:hover
    text-shadow: -1px -1px

.modal__info-grid
  position: relative
  margin-top: 15px

.modal__info-item
  letter-spacing: 0.02rem
  list-style: none
  margin-bottom: 6px

.modal__info-item-key
  font-weight: bold
  margin-right: 4px
