@import 'base/normalize.scss'
@import 'base/reset.scss'

html, body
  padding: 0
  margin: 0
  font-family: arial

h1, h2, h3, p, li, ul
  padding: 0
  margin: 0

.main
  background:
    image: url('../img/bg.jpg')
    size: cover
    repeat: no-repeat

@import 'modules/list.sass'
