@import 'base/normalize.scss'
@import 'base/reset.scss'

html, body
  width: 100%
  height: 100%
  padding: 0
  margin: 0
  font-family: arial

h1, h2, h3, p, li, ul
  padding: 0
  margin: 0

@import 'modules/list.sass'
