@import 'base/normalize.scss'
@import 'base/reset.scss'

html, body
  padding: 0
  margin: 0
  overflow-x: hidden

p, h1, h2, h3, ul, li, form, input, select, option
  padding: 0
  margin: 0

input:focus,select:focus,textarea:focus,button:focus
  outline: none

.main
  overflow-x: hidden
  display: none
  z-index: 100
  position: relative
  background:
    image: url('../img/bg.jpg')
    size: cover
    repeat: no-repeat
.main--show
  display: block

@import 'modules/header.sass'
@import 'modules/load.sass'
@import 'modules/list.sass'
@import 'modules/footer.sass'

@import 'media/max-width-800px.sass'
